@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6A859C; 
  line-height: 1.8;
}

.hide {
  display: none !important;
}

.title-wrapper {
  margin-bottom: 60px;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #676770;
  margin-bottom: 17px;
}

.subtitle {
  font-size: 17px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #8e8e9c;
}

.common-section {
  text-align: center;
  padding: 80px 0;
}

.common-section--dark {
  background-color: #192024;
}

.common-section--dark * {
  color: #fff;
}

.common-section--dark .subtitle {
  color: #E8E8E8;
}

/* ------------ HEADER ------------ */

.header {
  padding: 20px 0;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69b9ff;
}

.header__nav ul {
  display: flex;
}

.header__nav li + li {
  margin-left: 40px;
}

.header__nav a {
  font-size: 16px;
  color: #676770;
  transition: 0.2s;
}

.header__nav a:hover {
  font-size: 15px;
  color: #0082f3;
}

.header__nav a:active {
  color: #004887;
}

/* ------------ WELCOME SECTION ------------ */

.welcome {
  min-height: 600px;
  height: 100vh;
  padding: 195px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  background-color: #282936;
  background-image: url("img/welcome.jpg");
  background-size: cover;
  background-position: center;
}

.welcome__heading {
  margin-bottom: 100px;
  font-size: 59px;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.welcome__links > * + * {
  margin-left: 20px;
}

.link-primary {
  display: inline-block;
  padding: 11px 30px;
  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border-radius: 4px;
  background: #69b9ff;

  transition: background-color 0.3s;
}

.link-primary:hover {
  background-color: #7AC1FF; 
}

.link-primary:active {
  background-color: #1994FF;
}

.link {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;

  transition: background-color 0.3s, border-color 0.3s;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5); 
}

.link:active {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5); 
}

/* ------------ ABOUT (WHAT WE DO) SECTION ------------ */

.about .cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.about .card {
  padding: 35px 15px 20px;
  width: 300px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
}

.about .card img {
  margin-bottom: 20px;
  width: 94px;
  height: 94px;
  object-fit: contain;
}

.about .card h4 {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: #676770;
}

/* ------------ SERVICES SECTION ------------ */

.services .cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.services .card {
  width: 45%;
}

.services .card img {
  margin-bottom: 20px;
  width: 430px;
  height: 287px;
  object-fit: contain;
}

.services .card h4 {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: #fff;
}

.services .link {
  margin-top: 15px;
}